{% extends 'restaurants/base.html' %} {% block content %} {% load custom_tags %}
<div class="container col-md-6">
  <br />
  <div class="text-center h2">Welcome {{restaurant.name}}!</div>
  <br />
  {% if orders %}
  <div class="h4">HERE ARE YOU CURRENT ACTIVE ORDERS!</div>
  {% for order in orders %}
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading{{order.id}}">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapse{{order.id}}"
          aria-expanded="true"
          aria-controls="collapse{{order.id}}"
        >
          <div class="container">
            <div class="row">
              <div class="col-sm-5">
                <div class="row h5">Order ID: #{{order.id}}</div>
                <div class="row h5">Status: {{order.status}}</div>
              </div>
              <div class="col-sm-auto h2">{{order.customer.name}}</div>
            </div>
          </div>
        </button>
      </h2>
      <div
        id="collapse{{order.id}}"
        class="accordion-collapse collapse"
        aria-labelledby="heading{{order.id}}"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <div class="row">
            <div id="customer_details" class="col">
              <div class="text-left h5">{{restaurant.name}} DETAILS</div>
              <table class="cus_details">
                <thead>
                  <tr>
                    <th id="cus_name" scope="col">Name: {{restaurant.name}}</th>
                  </tr>
                  <tr>
                    <th id="cus_address" scope="col">
                      Address: {{restaurant.address}}
                    </th>
                  </tr>
                  <tr>
                    <th id="cus_contact" scope="col">
                      Contact: {{restaurant.contact}}
                    </th>
                  </tr>
                </thead>
              </table>
            </div>

            <div id="restaurant_details" class="col">
              <div class="text-left h5">CUSTOMER DETAILS</div>
              <table class="res_details">
                <thead>
                  <tr>
                    <th id="res_name" scope="col">
                      Restaurant Name: {{order.customer.name}}
                    </th>
                  </tr>
                  <tr>
                    <th id="res_address" scope="col">
                      Address: {{order.customer.address}}
                    </th>
                  </tr>
                  <tr>
                    <th id="res_contact" scope="col">
                      Contact: {{order.customer.contact}}
                    </th>
                  </tr>
                </thead>
              </table>
            </div>
          </div>
          <hr />

          <table class="table table-striped table-hover">
            <thead>
              <tr class="table-dark">
                <th scope="col">Dish Name</th>
                <th scope="col">Dish Price</th>
                <th scope="col">Dish Quantity</th>
                <th scope="col">Total Dish Price</th>
              </tr>
            </thead>
            <tbody>
              {% for d in order.orderlist_set.all %}
              <tr>
                <td>{{d.dish.dish_name}}</td>

                <td>{{d.dish.price}}</td>
                <td>{{d.quantity}}</td>
                <td>{{d.dish.price|multiply:d.quantity}}</td>
              </tr>
              {% endfor %}

              <tr class="table-dark">
                <th colspan="3">Grand Total</th>
                <th>{% totalprice order.orderlist_set.all as tp%}{{tp}}</th>
              </tr>
            </tbody>
          </table>

          <a
            class="d-grid gap-2 btn btn-success btn-sm btn-block"
            href="{% url 'updateOrder' rid=rid oid=order.id %}"
            ><h4>UPDATE STATUS</h4></a
          >
        </div>
      </div>
    </div>
  </div>

  {% endfor %} {% else %}
  <div class="text-center h4">NO ACTIVE ORDERS</div>
  {% endif %} {% endblock %}
</div>
